DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
STORAGE_PROVIDER=mock
UPLOAD_MAX_SIZE=5242880
UPLOAD_DIR=.uploads/profile-photos
STORAGE_PUBLIC_BASE_URL=
ALLOW_ADMIN_REGISTER=false
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Administrador SIV
ADMIN_PHONE=61999999999
ADMIN_ROLE=DEPUTADO
ADMIN_PHOTO_URL=mock://profile-photos/admin.png
ADMIN_LOCALIDADE=Distrito Federal
ADMIN_REGIAO_ADMINISTRATIVA=Distrito Federal
